* {box-sizing: content-box;}

header {
  color: white;
  background-color: #343330;
  text-align: center;
}
nav {
  border: 6px solid #343330;
  background-color: powderblue;
  padding-left: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  font-family:'Times New Roman', Times, serif;
  font-size:110%;
  background-color: #FCF7F8;
}

footer {
  background-color: #343330;
  color: white;
  text-align: center;
  text-shadow: 2px 2px black;
  margin:0%
}

img {
  height: 200px;
  width: auto;
}

.icons {
  height: 70px;
  width: 70px;
margin: auto;
}

ul.nav_menu {
  list-style-type: square;
}

ul.skill_list {
  list-style-type: square;
}
